@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDarkBlue: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  min-height: 100vh;
  font-weight: 500;
  background-color: var(--LightGrayishBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
}

time {
  color: var(--GrayishBlue);
}

a {
  text-decoration: none;
}

footer {
  padding-top: 2rem;
}

.card {
  border-radius: 0.5rem;
  max-width: 330px;
  background-color: white;
}

.drawers {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 70% 30%;
}

.card h1 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--VeryDarkGrayishBlue);
  padding-top: 2rem;
  padding-inline: 2rem;
  line-height: 1.5rem;
}

.card p {
  color: var(--GrayishBlue);
  padding-top: 0.8rem;
  padding-left: 2rem;
  padding-right: 2.5rem;
  line-height: 1.3rem;
}

.card address {
  padding-top: 2rem;
  padding-bottom: 1.2rem;
}

.author {
  display: flex;
  justify-content: space-around;
}

.michelle {
  border-radius: 1.5rem;
}

.share {
  border-radius: 1.5rem;
  background-color: var(--LightGrayishBlue);
  padding: 0.5rem;
  display: flex;
  align-self: center;
  z-index: 2;
}

.share.active {
  transform: translateY(0.4rem);
  background-color: var(--DesaturatedDarkBlue);
}

.share.active img {
  filter: brightness(0) invert(100%);
}

.name {
  font-weight: 700;
  color: var(--VeryDarkGrayishBlue);
}

.namedate {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: -3rem;
  margin-top: 0.15rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.share-menu {
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: var(--VeryDarkGrayishBlue);
  width: 330px;
  height: 65px;
  border-radius: 0 0 0.5rem 0.5rem;
  display: none;
  z-index: 1;
}

.share-menu span {
  padding-left: 2rem;
  padding-right: 0.5rem;
  letter-spacing: 0.3rem;
  color: var(--GrayishBlue);
}

.share-menu img {
  margin: 0.5rem;
}

.share-menu.active {
  display: flex;
}

.share-text {
  cursor: pointer;
}

.information {
  position: relative;
}

@media (min-width: 700px) {
  .card {
    display: flex;
    max-width: 670px;
  }

  .card h1 {
    padding-top: 1.5rem;
    font-size: 1.2rem;
    padding-right: 1.5rem;
  }

  .card p {
    padding-right: 2rem;
  }

  .drawers {
    border-radius: 0.5rem 0 0 0.5rem;
    height: auto;
    width: 250px;
    object-fit: cover;
    object-position: left;
  }

  .information {
    padding-left: 0.2rem;
  }

  .michelle {
    margin-left: -1.2rem;
    margin-top: -0.5rem;
  }

  .namedate {
    position: relative;
    bottom: 0.5rem;
    right: 2.2rem;
  }

  .share {
    margin-top: -0.5rem;
  }

  .share-menu {
    width: 245px;
    height: 55px;
    border-radius: 0.5rem;
    bottom: 4.8rem;
    right: -4rem;
  }

  .share-menu::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 43%;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--VeryDarkGrayishBlue);
  }

  .share.active {
    transform: none;
  }
}
